*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}
.header,.main,.footer{
    float: left;
    width: 100%;

}
.container{
    max-width:1200px;
    margin: 0 auto;
    background-color: #ededed;
}
.header{
    background-color: #999999;
}
.logo{
    font-size: 40px;
    color: #999999;
    text-decoration: none;
    padding: 8px;
    display: inline-block;

}
.header-left{
    width: 30%;
    float: left;
}
.nav-bar{
    text-align: end;
}
.nav-bar li{
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;

}
.nav-bar li a{
    text-decoration: none;
    color: black;
    font-weight: 500;

}
.header-right{
    width: 70%;
    float: left;
}
.main{
    background-color: #dfabab;

}
.main-header{
    background-color: #ef4e5f;
    padding: 30px;
    color: white;
    margin:30px 0;
    border-radius: 4px;

}
.main-header:hover{
    background-color: #f55a6a;
}
.main-body:hover{
    background-color: #f5e5e5;
}
.main-header h3{
    margin: 30px 0;
}
.main-body{
    margin:30px 0;
    padding: 30px;
    background-color: white;
    border-radius: 4px;

}
.main-body h1{
    margin: 15px 0;
}
.main-body div{
    margin: 15px 0;
}

.content{
    float: left;
    width: 60%;
    margin-right: 10%;
}
.sidebar{
    width: 30%;
    float: left;
}
.img{
    max-width: 100%;
}
.footer{

}
.clearfix{
    clear: both;
}

.btn {
    margin: 30px 0;
    color: white;
    text-transform: uppercase;
    border: none;
    background-color: salmon;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
}

.btn:hover {
    opacity: 0.8;
}

.btn:focus {
    outline: none;
}

.list {
    padding: 30px 20px;
    background-color: white;
    margin: 30px 0;
    border-radius: 4px;
}
.list:hover{
    background-color: #f5e5e5;
}
.tilte {
    margin: 20px 0;
}

.tilte i {
    margin-right: 10px;
}

.tilte span {
    font-size: 20px;
    font-weight: 500;
    font-weight: 500;
    text-transform: uppercase;
}

.song {
    margin: 20px 0;
}
.song a{
    text-decoration: none;
    color: black;
}

.song  a div {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 20px;
}

.song a span {
    display: inline-block;
}

.song  a div img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.catagories a p {
    margin: 20px 0;
}
.catagories a {
    color: black;
    text-decoration: none;
}

.clearfix {
    clear: both;
}